<div class="seller-auth">
    <!-- Sign-Up Area -->
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="name" placeholder="Enter name">
            <input class="form-input" type="email" ngModel name="email" placeholder="Enter email">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter password">
            <button class="form-button">SignUp</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already have account? Click to Login</a>
        </form>
    </div>
    <!-- Login Area -->
    <div *ngIf="showLogin" class="sign-up">
        <h1>Seller Login</h1>
        <form #sellerLogin="ngForm" (ngSubmit)="signUp(sellerLogin.value)" class="common-form">
            <input class="form-input" type="email" ngModel name="email" placeholder="Enter email">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter password">
            <button class="form-button">Login</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't have account? Click to Sign-Up</a>
        </form>
    </div>
</div>