<div class="update-product">
    <h1>Update Product</h1>
    <p class="message-p">{{""}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit()" class="common-form">
        <input class="form-input" type="email" ngModel="{{productData?.name}}" name="name"
            placeholder="Enter Product Name">
        <input class="form-input" type="email" type="email" ngModel="{{productData?.price}}" name="price"
            placeholder="Enter Product Price">
        <input class="form-input" type="email" type="email" ngModel="{{productData?.color}}" name="color"
            placeholder="Enter Product Color">
        <input class="form-input" type="email" type="email" ngModel="{{productData?.category}}" name="category"
            placeholder="Enter Product Category">
        <textarea class="form-input" type="email" type="email" ngModel="{{productData?.description}}" name="description"
            placeholder="Enter Product description"></textarea>
        <input class="form-input" type="email" type="email" ngModel="{{productData?.image}}" name="image"
            placeholder="Enter Product Image URL">
        <button class="form-button">Update Product</button>
    </form>
</div>